/* src/index.css */

@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

html {
  transition:
    background-color 0.5s ease-in-out,
    color 0.5s ease-in-out;
}

body {
  transition:
    background-color 0.5s ease-in-out,
    color 0.5s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a {
  color: inherit;
}

.dark {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --primary: oklch(0.985 0 0);
  --primary-foreground: oklch(0.141 0.005 285.823);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --card: oklch(0.21 0.006 285.885);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);
  --popover-border: oklch(0.37 0.013 285.805);
  --accent: oklch(0.274 0.006 286.033);
  --accent2: color-mix(in oklab, var(--accent) 20%, transparent);
  --accent-foreground: oklch(0.985 0 0);
  --border: oklch(0.274 0.006 286.033);
  --ring: oklch(0.552 0.016 285.938);
  --success: oklch(0.723 0.219 149.579);
  --destructive: oklch(0.505 0.213 27.518);
  --link: oklch(0.623 0.214 259.815);
  --code: oklch(0.21 0.006 285.885);
  --code-foreground: oklch(0.985 0 0);
  --code-number: oklch(0.552 0.016 285.938);
  --code-highlight: oklch(0.274 0.006 286.033);
  --selection: oklch(0.985 0 0);
  --selection-foreground: oklch(0.141 0.005 285.823);
  --shadow-popover: 0 0 24px rgba(0, 0, 0, 0.5);
}

@keyframes centerGlow {
  0% {
    
    opacity: 0.3;
    filter: blur(10px) ;
  }
  50% {
   
    opacity: 0.9;
    filter: blur(30px) ;
  }
  100% {
    opacity: 0.3;
    filter: blur(10px);
  }
}

.animate-centerGlow {
  animation: centerGlow 4.8s ease-in-out infinite;
}

@keyframes dotFade {
  0% {
    opacity: 0.45;
    filter: brightness(0.8) blur(0px);
  }
  50% {
    opacity: 0.9;
    filter: brightness(1.4) blur(1px);
  }
  100% {
    opacity: 0.45;
    filter: brightness(0.8) blur(0px);
  }
}

.animate-dotFade {
  animation: dotFade 4s ease-in-out infinite;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}
